/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Général Page ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --couleur-principale: #0065fc;
  --couleur-secondaire: #deebff;
  --couleur-tertiaire: #f2f2f2;
  --ombre-activites: #d2d2d2;
  --police-normale: 400;
  --police-grasse: 700;
  --arrondi-cartes: 25px;
}

body {
  font-family: "Raleway", sans-serif;
}

nav {
  display: flex;
  padding: 0;
  width: 100%;
  justify-content: space-between;
}

ul li {
  list-style: none;
  padding: 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font-weight: var(--police-grasse);
  font-size: 22px;
  padding-bottom: 10px;
}

h2 {
  font-weight: var(--police-normale);
  font-size: 16px;
  padding-bottom: 10px;
}

h3 {
  font-weight: var(--police-grasse);
  font-size: 22px;
  padding-bottom: 8px;
}

h4 {
  margin-top: 10px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Header ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.logo {
  width: 70px;
  height: 70px;
  margin: 50px;
}

a {
  text-decoration: none;
  color: black;
}

/* ------------- ~Boutons~ ------------- */
#btn {
  display: flex;
}

#btn a:hover {
  color: var(--couleur-principale);
}

.btn-nav {
  padding: 35px;
  text-decoration: none;
  background: linear-gradient(
      to bottom,
      var(--couleur-principale) 0%,
      var(--couleur-principale) 2px,
      transparent 3px
    )
    no-repeat;
  background-size: 0 100%;
  transition: background-size 0.2s;
}

.btn-nav:hover {
  color: var(--couleur-principale);
  background-size: 100% 100%;
}

.btn-nav a:active {
  color: var(--couleur-principale);
  background-size: 100% 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Formulaire et filtres ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

main {
  width: 100%;
}

/* ------------- ~Formulaire~ ------------- */
form {
  margin: 0 50px;
}

.saisie {
  position: absolute;
  display: flex;
  height: 50px;
  margin: 20px 0;
}

.icone-lieu {
  height: 98%;
  border-radius: 15px 0 0 15px;
  background-color: var(--couleur-tertiaire);
}

.icone-lieu i {
  font-size: 20px;
  padding: 15px 20px;
}

#mars {
  padding: 15px;
  border: 3px solid var(--couleur-tertiaire);
  color: black;
  font-weight: 600;
  font-size: 16px;
}

input[type="search"]:focus {
  background: none;
  outline: none;
  border: none;
}

input[type="search"]:hover {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

/* ------------- ~Filtres~ ------------- */
#filtres {
  display: flex;
  flex-wrap: wrap;
  margin: 0 50px;
  width: 70%;
  align-items: center;
  justify-content: space-between;
  font-weight: var(--police-grasse);
  font-size: 16px;
}

#filtres .fa-solid {
  font-size: 22px;
  height: 50px;
  width: 50px;
  padding: 13px;
  text-align: center;
  background-color: var(--couleur-secondaire);
  color: var(--couleur-principale);
  border-radius: 50%;
  margin-left: -2px;
}

.detail-filtre {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  width: max-content;
  align-items: center;
  padding: 0 15px 0 0;
  border-radius: 50px;
  border: 3px solid var(--couleur-tertiaire);
  cursor: pointer;
  transition: all 0.5s ease;
  background: linear-gradient(to left, white 50%, var(--couleur-secondaire) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.detail-filtre:hover {
  background-position: left bottom;
  color: var(--couleur-principale);
  border: var(--couleur-secondaire) 3px solid;
}

.detail-filtre p {
  margin-left: 10px;
}

.icone-info {
  display: flex;
  margin: 15px 50px 35px;
}

.fa-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  padding: 3px;
  font-size: 12px;
  color: var(--couleur-principale);
  border: 2px solid var(--couleur-tertiaire);
  margin-right: 5px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Cartes hébergements ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.contenu-central {
  display: flex;
  margin-bottom: 20px;
}

#hebergements {
  width: 70%;
  padding: 20px;
  margin: 0 0 0 30px;
  justify-content: space-around;
  background-color: var(--couleur-tertiaire);
  border-radius: var(--arrondi-cartes);
}

.conteneur-hebergements {
  display: flex;
  flex-wrap: wrap;
}

.carte-hebergement {
  flex-basis: 25%;
  min-width: 230px;
  height: 225px;
  margin: 10px 15px;
  border: 5px solid white;
  background-color: white;
  border-radius: var(--arrondi-cartes);
  box-shadow: 0px 5px 15px #b4b4b4;
  transition: all 0.5s ease;
}

.carte-hebergement a {
  font-weight: var(--police-normale);
}

.carte-hebergement:hover {
  box-shadow: 0px 5px 15px var(--couleur-principale);
  transform: scale(1.05);
}

.description {
  margin: 10px;
}

.carte-img {
  height: 130px;
}

.carte-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.bleu {
  color: var(--couleur-principale);
}

.gris {
  color: var(--couleur-tertiaire);
}

.plus {
  font-weight: var(--police-grasse);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Cartes populaires ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.titre-pop {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 0 30px;
}

.populaires {
  width: 30%;
  margin: 0 25px;
  height: 100%;
  background-color: var(--couleur-tertiaire);
  border-radius: var(--arrondi-cartes);
}

.carte-pop {
  display: flex;
  flex-wrap: nowrap;
  height: 140px;
  margin: 25px;
  border: 4px solid white;
  background-color: white;
  border-radius: var(--arrondi-cartes);
  box-shadow: 0px 5px 15px var(--ombre-activites);
  transition: all 0.5s ease;
}

.carte-pop img {
  height: 100%;
  width: 130px;
  object-fit: cover;
  border-radius: 20px 0px 0 20px;
}

.carte-pop:hover {
  box-shadow: 0px 5px 15px var(--couleur-principale);
  transform: scale(1.05);
}

.legende {
  margin: 0 10px;
  max-width: 52%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Activités ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#activites {
  margin: 50px 30px;
}
.cartes-activites {
  display: flex;
  width: 100%;
  gap: 2%;
  max-height: 370px;
}

.carte-GrandeImg {
  height: 350px;
  width: 25%;
  background-color: white;
  border-radius: var(--arrondi-cartes);
  box-shadow: 0px 2px 15px var(--ombre-activites);
  transition: all 0.5s ease;
}

.carte-GrandeImg img {
  height: 87%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}

.carte-GrandeImg p {
  padding: 10px 15px;
  font-weight: var(--police-grasse);
}

.carte-GrandeImg:hover {
  box-shadow: 0px 15px 15px var(--couleur-secondaire);
  transform: scale(1.02);
}

.petitesCartes {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 12px;
}

.carte-ImgMoyenne {
  height: 51%;
  width: 100%;
  background-color: white;
  border-radius: var(--arrondi-cartes);
  box-shadow: 0px 2px 15px var(--ombre-activites);
  transition: all 0.5s ease;
}

.carte-ImgMoyenne img {
  height: 76%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}

.carte-ImgMoyenne p {
  padding: 8px 15px;
  font-weight: var(--police-grasse);
}

.carte-ImgMoyenne:hover {
  box-shadow: 0px 15px 15px var(--couleur-secondaire);
  transform: scale(1.02);
}

.carte-PetiteImg {
  height: 40%;
  width: 100%;
  background-color: white;
  border-radius: var(--arrondi-cartes);
  box-shadow: 0px 2px 15px var(--ombre-activites);
  transition: all 0.5s ease;
}

.carte-PetiteImg img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}

.carte-PetiteImg:hover {
  box-shadow: 0px 15px 15px var(--couleur-secondaire);
  transform: scale(1.02);
}

.carte-PetiteImg p {
  padding: 8px 15px;
  font-weight: var(--police-grasse);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#pied {
  display: flex;
  padding: 30px 50px;
  background-color: var(--couleur-tertiaire);
  margin: 0;
  justify-content: space-between;
}
